*{margin:0;padding:0;}
.TongTrang{height: 100%}
.header{width: 100%;background: red;}
.main_content{width: 100%;background: yellow;}
.footer{width: 100%;background: blue;}

.nav_login_tuyendung{font-size: 16px}
.nav_login_dangtin{font-size: 10.5px;}
.icon_briefcase{font-size: 40px;color: white;}
.img_sec2_cty{height: 150px}
.text_leader_sect2{font-size: 40px;}
.icon_sect2_usd{height: 16px;width: 16px;margin-right: 10px;}
.thongtincty_secti2 p{margin-bottom: 0px;}
.NutUngTien_sect2{margin-right: 80px; margin-bottom: 10px;height: 55px;}
.LuuTin_sect2{border : 1px dashed}
.NutUngTien_sect2 span{height: 55px;line-height: 40px;}
.tale_quyenloi table, tr,td{width: 300px;}
.tale_quyenloi i{margin-right: 10px;color:#7abaff;}
.main_section3{margin-left: 10px; margin-right: 50px;width: 99%;}
.main_section3_left{width: 70%;}
.main_section3_right{width: 30%;}
.asidetop1{width: 95%;background: white;}
.asidetop1_right{width: 100%;}
.MotaCongviec{width: 95%;}
.NoidungCongviec{width: 95%;}
.Kynang{width: 95%;}
.KienthucChuyenmon{width: 95%;}
.icon_commentSide1{height: 16px;width: 16px;}
.EndAside1{width: 95%;text-align: right}
.aside2{width: 95%;}
.aside3{width: 95%;}
.img_joincty1{width: 100px;height: 100px;}
.span_1_Tuan{color:#596778}
.a_joincty1{color:#6c5646}
.sect_right_p{color:#776f98}
.LinhvucHoatdong{width: 94%;}
.footer{background: #242a30}
.table_footer_thongtin{width: 21%;}
.table_footer_chuyenmon{width: 21%;}
.table_footer_diadiem{width: 21%;}
.table_footer_congdong{width: 20%;}
.a_footer_sect1{color:#95999c;}
.footer_sect2_left{width: 68%;}
.footer_sect2_right{width: 20%;}
.logo_bocongthuong{width: 20%}
.i_facebook_footer{font-size: 20px; padding: 15px 20px 20px 20px;width: 50px;height: 50px; color: white}
.Dong_Lienhe{margin-top: 90px;margin-left: 70px;}
.table_tr_Quyche{width: 95%;}
.table_section1 table,tr{width: 95%;}
.footer-section2{width: 98%;border-bottom: 1px solid #95999c}
.footer-section3{width: 90%;}
.img_footer_3{height: 20px;height: 20px;}
.border_footer_dieukhoan{border-right: 1px solid #95999c}
.border_footer_viecchat{border-left: 1px solid #95999c}
.ul_quyenloi{list-style-type: none;}
.ul_quyenloi i{margin-right: 10px;margin-bottom: 10px;}
.ul_footer_sect1{list-style-type: none;}
.ul_footer_sect1_tieude{color: white;font-size: 17px;}
.ul_footer_sect1{margin-left: 10px;}
.ul_li_fo_set1_nav_lienhe{border-top: 1px solid #95999c;position: relative;padding:0px !important;margin-left: 15px;margin-top:10px;max-width: 22%!important;}
.ul_fo_set1_cot2_nav{margin-left: 38.9px;}
.ul_li_fo_set1_nav_lienhe a{position: absolute;top: 10px;}
.font_text_a li,a{color: #95999c;}
.font_text_nav_a_footer_1{color: white;font-size: 20px;}
.font_text_a{font-size: 15px !important;padding-top: 10px;}
.font_text_nav_a_footer_1 ul,li{list-style-type: none}
.font_text_nav_a_footer_1 a{text-decoration: none;}
.nav_fo_sect1{border-top: 1px solid #95999c;}
.nav_footer_end{border-bottom: 1px solid #95999c; margin-left: 16px !important;margin-right: 15px !important;padding-top: 20px;}
.a_footer_sect1{padding-top: 10px;}

<!-- Phần dành cho Responsive -->
p.text_ {color: yellow;}

@media (max-width: 768px){
    p.text_leader_sect2 {color: red}
    .nav_header{width: 20%;margin: 0 auto;text-align: center}
    .nav_item_maucv{padding-left: 20px;}
    .sign_in_header{width: 90%}
    .ul_sign_in{text-align: center;}
    .li_sign_in_nhatuyendung{width: 40%;margin-left: 180px!important;margin-top: 20px;}
    .ma_sec2_as1{position: relative;padding-bottom: 150px;}
    .ungtuyen_secti2{position: absolute;left: 35%;top: 210px;}
    .ungtuyen_secti2 a{width: 150%;}
    .main_section3_left{width:200%;}
    .main_section3{width: 98%;}
    .asidetop1{width: 100%;}
    .JoinCty1{position: relative;}
    .JoinCty1_Info{position: absolute;left: 150px;}
    .JoinCty1_Info_Scroll{white-space: nowrap;overflow:hidden;text-overflow: ellipsis;width:350px;}
    .span_1_Tuan{position: absolute;left: 83%;}
    .main_section3_right{width: 95%;}
    .breadcrum_sect3_right{width: 60%;}
    .section2_right img{width: 80% !important;margin-left: 63px;padding-bottom: 80px;}
    .footer_sect2_left{text-align: justify;width: 60% !important;position: relative;}
    .footer_sect2_right{width: 40%;padding-left: 30px;position: absolute;left: 56% !important;}
    .Dong_Lienhe{width: 100% !important;margin-left: 0px;}
    .footer-section3{width: 100%;}
    .footer_dieukhoan{width: 23% !important;}
    .footer_chinhsach{width: 30% !important;}
    .footer_sodo{width: 20% !important;}
    .footer_support_right{display: flex;}
    .footer_support_left{height: 48px;line-height: 48px;}
    .table_section1{display: flex;flex-direction: column;}
    .tb_se1_td_thongtin{margin-right: 35px!important;}
    .tb_se1_td_chuyenmon{margin-right: 27px !important;}
    .tb_se1_td_diadiem{margin-right: 33px !important;}
    .ul_li_thongtin768{flex-basis: 25%;}
    .ul_li_chuyenmon768{flex-basis: 24%;padding-left: 16px;}
    .ul_li_diadiem768{flex-basis: 24%;padding-left: 26px;}
    .ul_li_congdong768{flex-basis: 27%;padding-left: 26px;padding-right: 0}
    .ul_li_fo_set1_nav_lienhe{width: 20%;}
    .ul_li_sect1_a_kynang{margin-left: 27px !important;width: 22%;}
    .Cot_tt{margin-top: 54px !important;}
    .footer_sect2_left{padding-left: 0px;}
    .footer_sect2_right{padding-top: 50px;}
    .a_footer_sect1{padding-top: 10px;}
    .footer-section2{margin-left: 10px!important;}
    .span_1_Tuan{max-width: 117px;}

}
@media (max-width: 576px) {
    p.text_leader_sect2{color: blue}
    .ul_sign_in{margin-left: -30px;}
    .li_sign_in_nhatuyendung{margin-left: 0px !important;position: relative;left: 27%!important;width: 51%;}
    .nav_branch{width: 100%;}
    .ma_sec2_as1{display: block !important;}
    .img_sect2_logoCty{text-align: center;}
    .thongtincty_secti2{margin-right: 0px !important}
    .ungtuyen_secti2{top:74%!important;left: 30%;}
    .img_joincty1{margin-left: 30px !important;}
    .JoinCty1_Info{left: 120px;}
    .span_1_Tuan{left: 75%;}
    .JoinCty1_Info_Scroll{width: 50%;}
    .LinhvucHoatdong{width: 130%;}
    .section2_right img{margin-left: 0px;width: 105% !important;}
    .aside2{width: 100%;}
    .JoinCty1{width: 105% !important;}
    .section1_right{width: 105% !important;}
    .footer-section2{padding-bottom: 100px !important;}
    .footer_sect2_right{position: relative;margin-left: -800px !important;top: 180px;width: 500px !important;}
    .footer-section2{margin-left: 8px !important;}
    .i_facebook_footer{border-radius: 50% !important;padding: 11px 19px 5px 14px !important;height: 40px;width: 40px;}
    .footer_dieukhoan{padding-left: 0px !important;}
    .a_footer_sect1{padding-top: 10px;}

}